# dependencies
node_modules/

# Expo
.expo/
.expo-shared/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# logs
*.log
npm-debug.*
yarn-debug.*
yarn-error.*

# environment
.env*
# ⚠️ DO NOT ignore google-services.json for EAS Build!
# google-services.json
# GoogleService-Info.plist

# TypeScript
*.tsbuildinfo

# package manager
.pnpm-store/

# macOS
.DS_Store
*.pem

# generated native folders
/ios
/android
